body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4cae4c;
    padding: 20px;
}

h1,
h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

div {
    margin-top: 20px;
}

#secoes li {
    list-style-type: none;
}

.listras {
    width: 25px;
}

img {
    width: 150px;
}

.princi_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: -30px;
    margin-top: 20px;
    margin-bottom: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 90px;
    padding-right: 90px;

}

ul {
    list-style-type: none;
}

#secoes {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    scroll-snap-align: start;
    margin: 10px;

}


.card {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    min-width: 210px;
    height: 250px;
    border-radius: 15px;
    scroll-snap-type: both mandatory;
}

@media (min-width:1330px) {
    .conteudo {
        justify-content: center;
    }
}

@media (max-width:1366px) {
    .princi-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: -50px;
        margin-top: 20px;
        margin-bottom: 50px;
        overflow-x: scroll 1366px;
        overflow-y: hidden;
        white-space: nowrap;
        padding-left: 20px;
        padding-right: -20px;
        max-width: 1300px;
    }
    .card {
        background-color: #f1f1f1;
        margin: 5px;
        text-align: center;
        min-width: 170px;
        height: 200px;
        border-radius: 15px;
        scroll-snap-type: both mandatory;
    }
    
}